

body {
    /* animated background, taken from: https://codepen.io/P1N2O/pen/pyBNzX */
    background: linear-gradient(-45deg, #515A82, #353D60, #1D243D, #0A0E1A);
	background-size: 400% 400%;
	animation: gradient 10s ease infinite;
	height: 100vh;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}


/* Lights on/off for the vide, taken from:  https://vm.tiktok.com/ZMFd1JpUd/ */
.lights-off{
	position: fixed;
	top: 70px;
	display: block;
	right: 700px;
	width: 200px;
    height: 60px;
    text-align: center;
    font-size: 20px;
	color: #fff;
    line-height: 0px;
    background: transparent;
    border-radius: 10px;
    border: 3px solid white;
   
}


iframe{
	z-index: 999;
	position: absolute;
	margin-top: 200px;
	
	
}

  .overlay{
	position: fixed;
	margin: auto;
	border-radius: 20px;
	/* width: 65%; */
	width: 1000px;
	height: 700px;
	padding: 40px;
	inset: 0;
	z-index: 998;
	background-color: rgba(0, 0, 0, 0.95);
	display: none;
}

/* button animation, taken from: https://vm.tiktok.com/ZMFJtQtUt/ */
.home-button{
	position: relative;
    width: 100px;
    height: 300px;
    text-align: center;
    font-size: 20px;
    padding: auto;
	margin: 220px 140px 0px 60px;
    line-height: 0px;
    background: transparent;
    border-radius: 10px;
    border: 3px solid white;
    cursor: pointer;
    box-shadow: 0 0 0 white;
    transition: ease-in .5s;
	float: left;
}

.home-button span{
	display: inline-block;
    transform: rotate(-90deg);
}

.home-button a{
    color: white;
    text-decoration: none;
    transition: ease-in .5s;
}

.home-button:hover{
    box-shadow: 0 0 20px rgb(255, 255, 255),
    inset 100px 0 #fff;
}

.home-button:hover a{
    color: rgb(38, 38, 38)
}

