body {
    /* animated background, taken from: https://codepen.io/P1N2O/pen/pyBNzX */
    background: linear-gradient(-45deg, #515A82, #353D60, #1D243D, #0A0E1A);
	background-size: 400% 400%;
	animation: gradient 10s ease infinite;
	height: 100vh;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

/* to display video in the center, taken from: https://stackoverflow.com/questions/17508729/how-do-you-center-a-video-using-css */
video {
    width: 60%;
    transform: translate(-50%, -50%);
    position: absolute;
    top: 50%;
    left: 50%;
  }

